{% extends "base/base.html" %}
{% block title %}
  {{ title }}
{% endblock %}

{% block head_style %}
<link href="/static/css/chat.css" rel="stylesheet">
{% endblock %}

{% block head_script %}

{% endblock %}


{% block page_container %}
<div class="row" >
  <div class="col-sm-8" >
    <div class="panel panel-default">
      <div id="panel-heading" class="panel-heading">
        Chat Message
      </div>
      <!-- Content -->
      <div id="dialog-box-content" style="height: 650px;overflow-y: auto">

      </div>

      <div id="content-input" class="input-group input-group-lg hide">
        {% csrf_token %}
        <input class="form-control" id="input-edit" placeholder="Enter chat message" type="text">
        <span class="input-group-btn form-group">
          <button class="btn btn-default" type="button">
          Send
          </button>
        </span>
      </div>
    </div>


  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <span class=""></span>
        &nbsp;Online Member
    </div>
    <div id="contact-list" class="panel-body list-body" style="padding: 0;height: 550px;overflow-y: auto">
    <ul class="list-group">
    {% for contact in request.user.userprofile.friend.select_related %}
      <li class="list-group-item" contact-id="{{ contact.id }}" contact-type="single" onclick="OpenChatWindow(this)">
        <span class="contact-user"> {{ contact.name }} </span>
        <span class="badge hide">0</span>
      </li>
    {% endfor %}
    </ul>
    </div>
    <div class="panel-footer" id="list-count">current online：One</div>
  </div>
</div>

{% endblock %}

{% block end_script %}
<script>
$(document).ready(function(){
  //OpenChatWindow(obj);
  /*
  $('#contact-list li').click(function(){
    $(this).addClass("active");
    $(this).siblings().removeClass("active");
    SwitchChatBox(this);
  }); //(#contact-list a)
  */

  refreshMsgs = setInterval(function(){
    GetNewMsg();
  }, 3000);

  $("div").delegate("#input-edit", "keydown", function(e){
    if(e.which == 13){
      var msg_text = $("#input-edit").val();
      if($.trim(msg_text).length > 0){
        console.log(msg_text);
        AddSendMsgIntoBox(msg_text);
        SendMsg(msg_text);
        $("#input-edit").val("");
      }
    }
  });
}); //end of ready

function AddSendMsgIntoBox(msg_text){
  var msg_div = "<div class='pull_right me'>" +
  "<div class=''> <img class='avatar' src="+'https://wx.qq.com/cgi-bin/mmwebwx-bin/webwxgeticon?seq=132032543&username=@c3712af7c25223d885cab80c7af19a0ea78beac9e76411a64f692dcce9b2c4dd&skey=@crypt_7afaa10_0b38f4ec8a154e365224461473071174'+"></div>" +
    "<div class='content'><h5 style='margin-top: 1px;'> {{ request.user.userprofile.name }} </h5> " +
    "<div class='bubble bubble-primary'><div class='bubble-content'><div class='plain'><pre>" + msg_text + "</pre></div></div></div></div>" +
  "</div>";

  $("#dialog-box-content").append(msg_div);
  $("#dialog-box-content").animate({scrollTop: $('#dialog-box-content')[0].scrollHeight}, 500);
}

function SendMsg(msg){
  var msg_dict = {
    'from_id': "{{ request.user.userprofile.id }}",
    'to_id': $("#panel-heading span").attr("contact-id"),
    'contact_type': $("#panel-heading span").attr("contact-type"),
    'msg': msg,
  };

  $.post("{% url 'chat_send_msg' %}",
    {'data': JSON.stringify(msg_dict), 'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val()},
    function(callback){
      console.log(callback);
    })
}

function GetNewMsg(){
  var current_contact_id = $("#panel-heading span").attr("contact-id");
  var current_contact_name = $("#panel-heading span").text();

  $.get("{% url 'get_new_msg' %}", {'uid': "{{ request.user.userprofile.id }}"}, function(callback){
    console.log(callback);
    callback = JSON.parse(callback);
    $.each(callback, function(index, msg){
      if(msg.from_id == current_contact_id){//current dialog windows

        var msg_div = "<div class='pull_left other'>" +
        "<div class=''> <img class='avatar' src='https://img3.doubanio.com/icon/u37044537-304.jpg'></div>" +
          "<div class='content'><h5 style='margin-top: 1px;'>"+ current_contact_name + msg.dtime +"</h5> " +
          "<div class='bubble bubble-primary'><div class='bubble-content'><div class='plain'><pre>" + msg.msg + "</pre></div></div></div></div>" +
        "</div>";

        $("#dialog-box-content").append(msg_div);
        $("#dialog-box-content").animate({scrollTop: $('#dialog-box-content')[0].scrollHeight}, 500);
      }else{
        var msg_count_ele = $("#contact-list ul li[contact-id='"+ msg.from_id +"'] span");
        msg_count_ele.text(parseInt(msg_count_ele.find(".badge").text()) + 1);
        console.log(msg_count_ele.find(".badge").text()+"------");
        msg_count_ele.find(".badge").removeClass("hide");
      }
      console.log(msg.from_id);
      console.log(index);
    });//$.each End
  });//$.get End
}


function OpenChatWindow(obj){
  $('#content-input').removeClass("hide");
  $(obj).addClass("active");
  $(obj).siblings().removeClass("active");
  var current_uid = $(obj).attr("contact-id");
  var current_dialog_type = $(obj).attr("contact-type");
  var current_contact_name = $(obj).text();
  var current_dialog_count = $(obj).find("span").text();
  console.log(current_uid);
  console.log(current_dialog_type);
  console.log('--++++++-')
  console.log(current_dialog_count);
  console.log('---')
  console.log(current_contact_name);
  var dialog_head_html = "<span contact-id='"+ current_uid +"' contact-type='"+ current_dialog_type +"' >"+ current_contact_name + "</span>";
  $('#panel-heading').html(dialog_head_html);
}







function SwitchChatBox(obj){
  var current_uid = $(obj).attr("contact-id");
  var current_dialog_type = $(obj).attr("contact-type");
  var current_contact_name = $(obj).text();
  var current_dialog_count = $(obj).children("span").text();
  console.log(current_uid);
  console.log(current_dialog_type);
  console.log(current_dialog_count);
  console.log(current_contact_name);
  var dialog_head_html = "<b><span contact-id='"+ current_dialog_type +"' >"+ current_contact_name + "</span></b>";
  $('#panel-heading').html(dialog_head_html);
}
</script>
{% endblock %}
